*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.denglu{
    transition:3s;
}

.denglu:hover{
    transform: scale(1.6);
}

/* .denglu:hover{
    width:450px;
    height: 450px;
} */
.imgBox img {
    width: 700px;
    height: 700px;
    float: right;
    padding-top: 50px;
    margin-right: 200px;
}

.img1 {
    display: block;
}

.img2 {
    display: none;
}

.img3 {
    display: none;
}

a{
    text-decoration: none;
    color: white;
}

.top{
    width: 100%;
    height: 50px;
    background-color: black;
}

.logo{
    margin-left: 500px;
}

.logo img{
    margin-top: 3px;
}

.line{
    width: 1px;
    height: 12px;
    background-color: white;
    margin: 18px 20px;
}

.x li{
    float: left;
    line-height: 45px;
    color: white;
}

.x{
    position: absolute;
    top: 0;
    right: 20%;
}

.bz{
    float: left;
    height: 50px;
    overflow: hidden;
}
.bz li{
    clear: both;
    height: 50px;
    background: black;
    width: 90px;
    text-align: center;
}

.bz:hover{
    overflow: visible;
}

.denglu{
    width: 400px;
    height: 400px;
    margin-top: 180px;
    margin-left: 200px;
    float: left;
    /* position: absolute;
    top: 300px;
    left: 250px; */
    background-color: rgb(92, 180, 224);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 20px 20px 20px #414141;
}

.denglu-nei{
    margin-top: 20px;
}

.denglu-nei>input{
    outline: none;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 30px;
}

.denglu-nei>.a,.b{
    width: 230px;
    height: 40px;
    padding: 0 20px;
    margin-left: 63px;
}

.denglu-nei>.b{
    margin-left: 63px;
}

.denglu-nei>.c{
    width: 272px;
    height: 40px;
    background-color: #f40;
    margin-left: 63px;
}

.denglu-top>.line-01{
    margin-top: 3px;
    height: 2px;
    width: 65px;
    background-color: black;
}

.denglu-top{
    margin-top: 50px;
    margin-left: 60px;
}

.c:hover{
    background-color: green;
}